<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.khntech.dietchart">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainClass"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_background"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_foreground"

        android:supportsRtl="true"
        android:theme="@style/Theme.DietChart"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="com.khntech.dietchart.view.normal.SelectTypeActivity"
            android:exported="true" />
        <activity
            android:name=".view.NormalNor"
            android:exported="true" />
        <activity
            android:name="com.khntech.dietchart.view.lazy.LazyTypeActivity"
            android:exported="true" />

        <activity
            android:name="com.khntech.dietchart.view.angry.AngryTypeActivity"
            android:exported="true" />
        <activity
            android:name="com.khntech.dietchart.view.lazy.LazyGainActivity"
            android:exported="true" />
        <activity
            android:name="com.khntech.dietchart.view.lazy.LazyLoseActivity"
            android:exported="true" />
        <activity
            android:name="com.khntech.dietchart.view.normal.NormalGainActivity"
            android:exported="true" />
        <activity
            android:name="com.khntech.dietchart.view.normal.NormalLoseActivity"
            android:exported="true" />
        <activity
            android:name="com.khntech.dietchart.view.angry.AngryGainActivity"
            android:exported="true" />
        <activity
            android:name="com.khntech.dietchart.view.angry.AngryLoseActivity"
            android:exported="true" />

        <activity
            android:name="com.khntech.dietchart.view.lazy.LazyNormalActivity"
            android:exported="true" />
        <activity
            android:name="com.khntech.dietchart.view.angry.AngryNormalActivity"
            android:exported="true" />
        <activity
            android:name=".dietplans.PersonNatureActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DietChart.NoActionBar"></activity>
        <activity
            android:name="com.khntech.dietchart.view.homepage.FragmentActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DietChart.NoActionBar" />
        <activity
            android:name="com.khntech.dietchart.view.login.RegisterActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DietChart.NoActionBar" />
        <activity
            android:name="com.khntech.dietchart.view.login.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DietChart.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ProfileActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DietChart.NoActionBar" />
        <activity
            android:name="com.khntech.dietchart.view.OtpActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DietChart.NoActionBar" />
    </application>

</manifest>