<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.khntech.dietchart">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_background"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_foreground"

        android:supportsRtl="true"
        android:theme="@style/Theme.DietChart"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".normal.normalType2"
            android:exported="true" />
        <activity
            android:name=".normal.NormalNor"
            android:exported="true" />
        <activity
            android:name=".lazy.LazyTypeActivity"
            android:exported="true" />

        <activity
            android:name=".angry.AngryTypeActivity"
            android:exported="true" />
        <activity
            android:name=".lazy.LazyGainActivity"
            android:exported="true" />
        <activity
            android:name=".lazy.LazyLoseActivity"
            android:exported="true" />
        <activity
            android:name=".normal.NormalGainActivity"
            android:exported="true" />
        <activity
            android:name=".normal.NormalLoseActivity"
            android:exported="true" />
        <activity
            android:name=".angry.AngryGainActivity"
            android:exported="true" />
        <activity
            android:name=".angry.AngryLoseActivity"
            android:exported="true" />

        <activity
            android:name=".lazy.LazyNormalActivity"
            android:exported="true" />
        <activity
            android:name=".angry.AngryNormalActivity"
            android:exported="true" />
        <activity
            android:name=".dietplans.NatureActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DietChart.NoActionBar" />
        <activity
            android:name=".homepage.FragmentActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DietChart.NoActionBar" />
        <activity
            android:name=".login.RegisteredActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DietChart.NoActionBar" />
        <activity
            android:name=".login.Page1Activity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DietChart.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".profile.ProfileActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DietChart.NoActionBar" />
        <activity
            android:name=".login.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DietChart.NoActionBar" />
    </application>

</manifest>